# Dependencies
node_modules/

# Cloudflare Local State
.wrangler/

# Local Configurations & Secrets (Private IDs, keys, and tokens)
*.local.toml
*.local
.env*
*.pem
*.key

# System & Editor Files
.DS_Store
Thumbs.db
.vscode/
.idea/
